<!DOCTYPE html>
<html ng-app="StarterApp">
  <head>
      <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/bower_components/angular-material/angular-material.min.css" />
      <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/style.css" />
      <title>פרויקט בן יהודה</title>
  </head>
  <body layout="column" ng-controller="AppCtrl as ctrl">
    <md-toolbar  layout="row">
      <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
        <span class="visually-hidden">Menu</span>
      </button>
      <h1 ng-click="present_news()">פרויקט בן יהודה</h1>

    </md-toolbar>
    <div layout="row" flex>

        <div layout="column" flex id="content" >
            <md-content layout="column" flex class="md-padding">


            <div class="news" ng-show="show_news">
            <md-toolbar md-scroll-shrink class="md-theme-light">
                <div layout="row">
                  <h1  class="md-toolbar-tools ">
                    חדשות
                  </h1>
                  </div>
                </md-toolbar>
                <md-content>
                  <md-list>
                    <md-item ng-repeat="item in messages">
                      <md-item-content>
                        <div class="md-tile-content hebrew-align">
<h3 ><bold>{{item.title}}</bold></h3>
<h4>    {{item.date}}</h4>
<p class="hebrew-text">{{item.text}}</p>
                        </div>
                      </md-item-content>
                      <md-divider ng-if="!$last"></md-divider>
                    </md-item>
                  </md-list>

            </md-content>
           </div>

 <!--Cretors view-->
            <div class="creators" ng-show="show_creators">
                <md-list>
      <md-item ng-repeat="creator in creators | filter:search_bar">
        <md-item-content>
          <div class="md-tile-left">
          </div>
          <div class="md-tile-content">
            <h3 class="hebrew-align" ng-click="select_creator(creator)">{{creator.name}}</h3>
            <p class="hebrew-align">{{creator.description}}</p>
            <p class="hebrew-align " ng-show="creator.wikipedia_link != ''" ng-click="open_url(creator.wikipedia_link)">
               ויקיפדיה
            </p>
          </div>
        </md-item-content>
      </md-item>
    </md-list>

            </div>


            <!--Translators View-->

            <div class="translators" ng-show="show_translators">
 <md-list>
      <md-item ng-repeat="translator in translators | filter: search_bar">
        <md-item-content>
          <div class="md-tile-left">
          </div>
          <div class="md-tile-content">
            <h3 class="hebrew-align">{{translator.name}}</h3>
            <p class="hebrew-align">{{translator.description}}</p>
            <p class="hebrew-align" ng-show="translator.wikipedia_link != ''" ng-click="open_url(translator.wikipedia_link)">
               ויקיפדיה
            </p>
          </div>
        </md-item-content>
      </md-item>
    </md-list>
            </div>

<!-- Pieces view -->

            <div class="pieces" ng-show="show_pieces">

                <md-list>
      <md-item ng-repeat="piece in pieces | filter:search_bar">
        <md-item-content>
          <div class="md-tile-left">
          </div>
          <div class="md-tile-content">
            <h3 class="hebrew-align" ng-click="open_piece(piece)">{{piece.name}}</h3>
          </div>
        </md-item-content>
      </md-item>
    </md-list></div>

            <!-- Piece View -->
            <div class="piece md-tile-content" ng-show="show_piece">
                <h2 class="hebrew-align">{{ current_piece.name }}
                <md-progress-circular ng-show="piece_show_progress_bar" class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
                </h2>
                <div class="chapter" ng-show="current_chapter != ''">
                    <h4 class="hebrew-align"> {{ current_chapter.name }} </h4>
                    <p class="hebrew-align hebrew-text">
{{ current_chapter.text }}
                    </p>

                </div>
            </div>

                <single-creator ng-show="show_single_creator" info="selected_creator"></single-creator>

                </md-content>
        </div>
 <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-sm')">

     <!--SEARCH BOX-->
     <br>
     <form ng-submit="showAdvanced($event)">
                <div class="input-group input-group-sm" >
  <input type="text" class="form-control hebrew-align"   ng-model="search_bar" aria-describedby="sizing-addon3" >
                    <span class="input-group-addon" id="sizing-addon3">חיפוש<span>
</div>
     </form>
     <br>

     <md-button ng-click="present_creators()">יוצרים</md-button>
     <md-button ng-click="present_translators()">מתרגמים</md-button>
     <md-button ng-click="present_pieces()"> יצירות</md-button>
     <br>



     <br>
     <div width=100% ng-show="piece_show_side_nav" class="hebrew-align md-tile-content">
         <h3 class="hebrew-align "> {{ current_piece.name }} </h3>
         <div ng-repeat="chapter in current_chapters">
     <md-button md-no-ink ng-click="show_chapter(chapter)" class="chapter-button">
          {{ chapter.index + ".  " + chapter.name }}
     </md-button>
     </div>

     </div>
        </md-sidenav>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="/static/bower_components/angular/angular.min.js"></script>
    <script src="/static/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/static/bower_components/angular-aria/angular-aria.min.js"></script>

    <script src="/static/bower_components/angular-material/angular-material.min.js"></script>
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="script.js"></script>
  </body>
</html>